<html>
  <head>
		<title>Ampla Gateway</title>
  </head>
  <body>
		<form>
			<center><a href="/"><img src="/static/img/ampla_logo.jpg"/></a>	</center>

{% if session['logged_in'] %}
			<p style="text-align:center;text-indent:370px;">
				<a href="/">Status</a>&nbsp
				<a href="/setting">Setting</a>&nbsp
		    <a href="/logout">Logout</a>&nbsp
				<a href="/modify">Modify</a>&nbsp
<!--				<a href="/register">Register</a>&nbsp	-->
<!--        <a href=="{{ url_for('logout') }}">Logout</a>&nbsp  -->
			</p>

{% else %}
      <p style="text-align:center;text-indent:400px;">
        <a href="#" onclick=location.href('/login')>Login</a>
				<a>&nbsp</a>
      </p>

{% endif %}

		</form>
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>
