{% extends "base.html" %}
{% block content %}

<html>
<head>
  <style>
    f1{
      font-size: 2.5rem;
      font-weight: bold;
    }
    f2{
      font-size: 1.8rem;
    }
    f3{
      font-size: 1.4rem;
      font-weight: bold;
    }
    f4{
      font-size: 1.0rem;
    }
    t1{

      border:1px solid red;
      width:400px;
      height:auto;
      margin:auto;
    }
  </style>

  <title>
    Ampla Lora Gateway
  </title>
</head>

<body bgcolor="white", topmargin="30", height:auto;>
  <center>

{% if session['logged_in'] %}

	<div>
		<p><f3><br> MODIFY PASSWORD <br></f3></p>	
<!--		<form action="/modify/" method="POST">	-->
		<form>
			<p>
		    <input autocomplete="off" name="username" placeholder="Now Username">
	  	  <input autocomplete="off" type="password" name="password" placeholder="Now Password">
			</p>
				<p>
		  	<input autocomplete="off" name="newusername" placeholder="New Username">
			  <input autocomplete="off" type="password" name="newpassword" placeholder="New Password">
			</p>

<!--
    <p>
    <input autocomplete="off" name="username" placeholder="New Username">
    <input autocomplete="off" type="password" name="password" placeholder="New Password">
    </p>
-->

<!--	    <input type="submit" value="Submit" onclick="onSubmit();">	-->
			<input type='button' id='submitBT' style="WIDTH: 80pt; HEIGHT: 30pt; border-bottom-right-radius: 5px;" value="submit" onclick="onSubmit()" />

		</form>
	</div>

	<div>
		<script type="text/javascript">
		var val  = new Array();

		function onSubmit()
		{
			if (confirm("Submit 하시겠습니까??") == true) //확인
			{
				var theForm = document.forms[1];
				theForm.setAttribute("method", "Post");
				theForm.action='/modify';
				theForm.submit();
			}			
		}

		</script>
	</div>


{% else %}

  <p><f3><br> You're not log in <br></f3></p>

{% endif %}

  </center>
</body>
</html>

{% endblock %}
