{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>

{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<script>		
		alert('{{message}}')   //이 부분이 중요
	</script>
	{% endfor %}
	{% endif %}
{% endwith %}

<html>
<head>
  <style>
    f3{	font-size: 1.4rem;	font-weight: bold;	}
    f4{	font-size: 1.0rem;	}

		#table			{	border:1px solid null; width:400px; height:auto; margin:auto;	}
		#left				{	text-align:left;	font-size: 1.0rem;	}
		#right			{	text-align:right;	font-size: 1.0rem;	}
		#readonly		{	pointer-events:none;	width:230px;	height:20px;	font-size:12pt;	background:lightgray;	}
		#lineRed		{	width:440px; size:2; height:1px; background:red;	}
		#servAdd		{	width:170px;	height:20px;	font-size:12pt; pointer-events:none;	background:lightgray;	}
		#servPort		{	width:54px;	height:20px;	font-size:12pt;	pointer-events:none;	background:lightgray;	}

		#devStatText{	width:160px;	height:20px;	font-size:12pt;	pointer-events:none;	}
		#devStatButton{	width:50pt; height:15pt;	border-bottom-right-radius:5px;	}
  </style>
</head>

{% if session['logged_in'] %}

	{% if data %}
  <h3>{{data}}</h3>
  {% else %}


	<body bgcolor="white" topmargin="30" height:auto; onload="initVal({{val}});"><center><br><br>
		<form action = "http://localhost:5050/apply" method = "POST" enctype = "multipart/form-data">
			<table style="border-width:5px; border-color:darkorange; border-style:double; width:560px;">
				<td id="mainTd" style="text-align:center;"></td>
		</table>
	</form>


		<div>
      <script type="text/javascript">
				var val  = new Array();
				var click = true;

				function makeTitle() {
					var rawCode = "<p><f3><br><br>Device Status<br></f3></p><hr id='lineRed'><br></hr>";
					document.getElementById("mainTd").innerHTML += rawCode;
				}

				function makeTable_Type1(tableId, textLabel, inputName, inputValue) {
					var rawCode = "<table id='" +  tableId + "' style='border:1px solid null; width:400px; height:auto; margin:auto;'>"
												+ "<td id='left'>" + textLabel + "</td>"
												+ "<td id='right'><input type='text' name='" + inputName + "' value='" + inputValue + "' style='pointer-events:none;  width:230px;  height:20px;  font-size:12pt; background:lightgray;'>"
												+ "<br></td></p></table></table>";
					document.getElementById("mainTd").innerHTML += rawCode;
				}

				function makeTable_Type2(tableId, textLabel, inputName, inputValue, inputValue2) {
          var rawCode = "<table id='" +  tableId + "' style='border:1px solid null; width:400px; height:auto; margin:auto;'>"
                        + "<td id='left'>" + textLabel + "</td>"
												+ "<td id='right'>"
												+ "<input type='textbox' id='readonly' name='" + inputName + "' value='" + inputValue + "' style='width:170px;  height:20px;  font-size:12pt; pointer-events:none;  background:lightgray;'>&nbsp;"
												+ "<input type='textbox' id='readonly' name='" + inputName + "2" + "' value='" + inputValue2 + "' style='width:54px; height:20px;  font-size:12pt; pointer-events:none;  background:lightgray;'>"
												+ "</td></p></table>";
          document.getElementById("mainTd").innerHTML += rawCode;
        }

				function makeButton() {
//					var rawCode = "<br><br>"
//												+ "<table id='buttonTable'>"
//												+ "<input type='button' id='applyBT' style='width:80px; border-bottom-right-radius:5px;' value='apply' onclick='overClick('apply')' /> &nbsp;&nbsp;"
//												+ "<input type='button' id='resetBT' style='width:80px; border-bottom-right-radius:5px;' value='reboot' onclick='resetClick()' /> </table>"
//												+ "<br><br>";

					rawCode = "<br><br><br><br>";
          document.getElementById("mainTd").innerHTML += rawCode;
				}

				function displayTable(value) {
					var disp = ["none","none"];

					//console.log(value);

					if(value[3] == "W")				{	disp[0] = "";	}
					else if(value[3] == "L")	{	disp[1] = ""; }
					else if(value[3] == "Z")	{	disp[0] = "";	disp[1] = "";	}

					var hideArray = ['wfTable', 'lteTable'];
					hideArray.forEach((name, index) => {	document.getElementById(name).style.display = disp[index];	});
				}
				
				function initVal(value) {
					//Copy global Value
					val = value
					//console.log(val);

					//GW Serial
					var gwSerial = val[0];
					if(14 <= gwSerial.length) {	gwSerial = gwSerial.substr(0,2) + "-" + gwSerial.substr(2, 3) + "-" + gwSerial.substr(5, 6) + "-" + gwSerial.substr(11);	}

					//Process Running
					var pRunning = ["Stop", "Stop"];
					if(0 == val[21])	pRunning[0] = "Running";
					if(0 == val[22])	pRunning[1] = "Running";

					//make Table
					makeTitle();
					makeTable_Type1("snTable",		"Serial Number",		"nSN",				gwSerial);
					makeTable_Type1("eaTable",		"Ethernet Address",	"nEthAdd",		val[1]);
					makeTable_Type1("wfTable", 		"Wi-Fi Address",		"nWFAdd",			val[2]);
					makeTable_Type1("lteTable",		"lte Address",			"nLteAdd",		val[3]);
					makeTable_Type1("servATable",	"Server Address",		"nServAdd",		val[11]);
					makeTable_Type1("servPTable",	"Server Port",			"nServPort",	val[12]);
					makeTable_Type1("pfTable",		"Process #1 [PF]",	"packet",			pRunning[0]);
					makeTable_Type1("gbTable",    "Process #2 [GB]",	"gwBridge",		pRunning[1]);
					makeTable_Type1("dateTable",  "Date",             "nDate",      val[19]);
					makeTable_Type1("verTable",   "Version",          "nVer",       val[18]);
					makeButton();

					//Display Table
          displayTable(val[0]);
        }

				function handleCompositionStart(e) {
          const self = this;
          self.blur();

          requestAnimationFrame(function () {
            self.focus();
          });
        }

				function isValidIP(str) {
					if(((str.match(/\./g) || []).length === 3) && (str.indexOf("..") == -1)) {
						//alert("성공" + (str.match(/\./g) || []).length);
						var strChk = str.split('.').filter(function(v){return v==Number(v).toString() && Number(v)<256}).length==4;
						if(strChk == true)  return true;
					}
					return false;					
				}

				var buttonArray = ['uploadBT', 'applyBT', 'resetBT'];
				function resetClick() {
        	//alert("reset");
					if (confirm("Do you want to Reboot?") == true) {
						buttonArray.forEach((name, index) => {
							document.getElementById(name).disabled = 'true';
						});

						var theForm = document.forms[1];    //form #1
						theForm.setAttribute("method", "Post");
						theForm.action='/writeapply/reset';
						theForm.submit();
					} else {
						return;
					}
				}

				function overClick(command) {
					result = true;

					if (command == 'apply') { 
						if (confirm("Do you want to apply the settings?") == true) {
							var msg = document.getElementsByName('eStatic')[0].value;
							result = isValidIP(document.getElementsByName('eStatic')[0].value);

							if (result == true) {
								buttonArray.forEach((name, index) => {
									document.getElementById(name).disabled = 'true';
								});

								if (click == true) {
									click = false;	
									var theForm = document.forms[1];    //form #1
									theForm.setAttribute("method", "Post");	
									theForm.action='/writeapply/apply';
									theForm.submit();
									//console.log(theForm);
								}
							} else {
								alert("Apply Fail (Check IP Address)");
							}
						}
					} else if (command == 'sync'){

						if (confirm("Do you want to time sync?") == true) {
							document.getElementById('uploadBT').disabled = 'true';
							document.getElementById('applyBT').disabled = 'true';
							document.getElementById('resetBT').disabled = 'true';

							if (click == true) {
								click = false;

								var theForm = document.forms[1];    //form #1
								theForm.setAttribute("method", "Post");
				
								theForm.action='/writeapply/sync';
								theForm.submit();
							}
						}
					} else if (command == 'upload'){
            if (confirm("Do you want to update?") == true) {
              document.getElementById('uploadBT').disabled = 'true';
              document.getElementById('applyBT').disabled = 'true';
              document.getElementById('resetBT').disabled = 'true';

              if (click == true) {
                click = false;

                var theForm = document.forms[1];    //form #1
                theForm.setAttribute("method", "Post");

                theForm.action='/writeapply/upload';
                theForm.submit();
              }
            }
          }
				}
      </script>
    </div>

		</center>
	</body>
	{% endif %}

{% else %}

<body bgcolor="white", topmargin="30", height:auto;>
	<center>
	  <p><f3><br>Login<br></f3></p>

	  <form action="/login" method="POST">
	    <input type="username" name="username" placeholder="Username" maxlength="10">
	    <input type="password" name="password" placeholder="Password" maxlength="10">
	    <input type="submit" value="Log in">
		</form>


	</center>
</body>
</html>

{% endif %}
{% endblock %}
